<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-sref="app.dashboard"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active" ng-bind="title"></li>
        <button class="btn btn-sm btn-icon btn-default pull-right" ng-click="$state.reload()"><i
                class="icon icon-refresh"></i></button>
    </ul>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="row wrapper">
            <div class="col-sm-12 m-b-xs">
                <!-- 去掉form-inline，form-inline无法宽屏 -->
                <form class="" role="form">
                    <div class="form-group has-feedback">
                        <input type="text" placeholder="请输入需要爬虫的网页（目前仅支持淘宝详情）" class="form-control" ng-keyup="myKeyup($event)" ng-model="params.url">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">

                <div class="form-group">
                    <label class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="product.name" class="form-control" ng-maxlength="100" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品价格</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="product.price" class="form-control w-md" ng-maxlength="200">
                        <span class="help-block m-b-none text-danger">商品价格是原价，店家的打折价格可能有误差。</span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <span class="help-block m-b-none text-primary wrapper-sm">商品信息：</span>
                <div class="form-group" ng-repeat="x in sku">
                    <label class="col-sm-2 control-label">{{x[0]}}</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="x" class="form-control w-md" ng-maxlength="200">
                    </div>
                </div>

                <div class="form-group" ng-repeat="i in items">
                    <label class="col-sm-2 control-label">{{i[0]}}</label>
                    <div class="col-sm-10">
                        <label class = "checkbox-inline" ng-repeat = "j in i" ng-if="$index !=0">
                            <input type="checkbox" ng-model="checkStatus" ng-click="skuClick(j,checkStatus)">{{j}}
                        </label>
                    </div>
                </div>

                <!-- 占位 -->
                <label class="col-sm-2 control-label"></label>
                <div class="table-responsive">
                    <table id="skuTable" class="table table-striped table-bordered">
                        <thead>
                            <tr class="b-5x b-light success">
                                <th class="text-center" ng-repeat="x in skuTableheads">{{x}}</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <span class="help-block m-b-none text-primary wrapper-sm">商品详情：</span>

                <div class="form-group" ng-repeat="x in product.attributes">
                    <label class="col-sm-2 control-label">{{x}}</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="x" class="form-control w-md" ng-maxlength="200">
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <span class="help-block m-b-none text-primary wrapper-sm">大家印象：</span>

                <div class="form-group" ng-repeat="x in impress" >
                    <label class="col-sm-2 control-label">{{x}}</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="x" class="form-control w-md" ng-maxlength="200">
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <span class="help-block m-b-none text-primary wrapper-sm">图片信息：</span>

                <div class="form-group" ng-repeat="x in product.imgs" >
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <img src="{{x}}" class="img-responsive" alt="响应式图像">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="button" class="btn btn-default" ng-disabled="form.$invalid"
                                ng-if="hasAuthority('product:view')" ng-click="saveData()">
                            保存
                        </button>
                        <a class="btn btn-primary" ui-sref="app.product.webmagic">取消</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

